<p id="notice"><%= notice %></p>

<h1>I am a student of Tsinghua University. It is a website for my class homework.</h1>

<a href="https://api.weibo.com/oauth2/authorize?client_id=1872990748&redirect_uri=http://itispxm.com/response&response_type=code">
  log in
</a>

